# Strava OAuth
STRAVA_CLIENT_ID=191762
STRAVA_CLIENT_SECRET=a378e49ee4af52c3df432f3df681b08a791a9a49

# Google OAuth
GOOGLE_WEB_CLIENT_ID=432822095292-e6mjrbqgdgk089tpfn8to90nrcvrtage.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
